:root {
  --dark-blue: #003b73;
  --pink: #edaec0;
  --orange: #e97451;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: var(--dark-blue);
}

h1 {
  font-size: 300%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--dark-blue);
}

.weather-info {
  position: relative;
  width: 350px;
  height: 650px;
  margin: 15px;
  padding: 25px;
  border-radius: 10px;
  background: var(--pink);
  box-shadow: 0px 0px 10px 3px rgba(36, 36, 36, 0.2);
  transition-duration: 0.5s;
  transition-property: opacity;
}

.weather-info__search-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.weather-info__search-img {
  position: relative;
  top: 80px;
  left: -70px;
  width: 200px;
  height: 200px;
  background: var(--orange);
  border-radius: 50%;
}

.weather-info__search-view h2 {
  position: absolute;
  z-index: 9;
  width: 270px;
  margin-right: 20px;
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 42px;
  text-align: right;
}

.weather-info__search-view h3 {
  margin-bottom: 10px;
  color: var(--dark-blue);
  font-size: 36px;
  font-weight: 400;
}

.weather-info__search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.weather-info__search-view label {
  margin-bottom: 15px;
  font-size: 16px;
  color: var(--dark-blue);
  font-weight: 300;
}

.weather-info__search-view input {
  width: 93%;
  margin-bottom: -10px;
  padding: 10px;
  border: 2px solid var(--dark-blue);
  box-shadow: 0px 0px 10px 3px rgba(36, 36, 36, 0.05);
  color: var(--orange);
  font-size: 120%;
  text-align: center;
}

.weather-info__search-error {
  padding: 5px 0;
  color: red;
  font-size: 13px;
}

.weather-info__search-view button {
  padding: 10px 50px;
  border: 2px solid currentColor;
  background: transparent;
  color: var(--dark-blue);
  font-size: 100%;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.weather-info__search-view button {
  width: 100%;
}

.weather-info__search-view button:hover {
  background: var(--orange);
  border: 2px solid var(--dark-blue);
}

.weather-info__search-view button:focus {
  outline: 1px solid var(--dark-blue);
}

/*  forecast view */

.weather-info__temperatures > * {
  padding: 0 5px 10px;
  font-weight: 400;
  border-bottom: 3px solid var(--dark-blue);
  border-top: none;
}

.weather-icon__container {
  height: 200px;
}

.weather-info__title {
  position: absolute;
  top: 40px;
  right: 0;
  font-size: 24px;
  writing-mode: tb-rl;
}

.weather-info__forecast-view {
  display: none;
}

.weather-info__city {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info__city img {
  width: 100px;
}

.weather-info__btn-return {
  color: var(--dark-blue);
  background: transparent;
  border: none;
}
