/* General styles */

:root {
  --dark-blue: #003b73;
  --pink: #edaec0;
  --orange: #e97451;
}

body {
  color: var(--dark-blue);
  font-family: "Roboto", sans-serif;
  background: var(--dark-blue);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

ul {
  padding-left: 0;
}

h1 {
  font-size: 3em;
}

/* Introduction view */

.weather-info {
  position: relative;
  width: 100%;
  height: 650px;
  padding: 25px;
  background: var(--pink);
  transition-duration: 0.5s;
  transition-property: opacity;
}

.weather-info__search-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
}

.weather-info__search-img {
  position: relative;
  top: 5.5em;
  left: -3em;
  width: 200px;
  height: 200px;
  background: var(--orange);
  border-radius: 50%;
}

.weather-info__search-view h2 {
  position: absolute;
  right: 7%;
  z-index: 1;
  width: 6.5em;
  color: var(--dark-blue);
  font-size: 2.6em;
  text-align: right;
}

.weather-info__search-view h3 {
  margin-bottom: 0.5em;
  color: var(--dark-blue);
  font-size: 2.1em;
  font-weight: 400;
  text-align: center;
}

.weather-info__search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.weather-info__search-view label {
  margin-bottom: 1.5em;
  color: var(--dark-blue);
  font-weight: 300;
  text-align: center;
}

.weather-info__search-view input {
  margin-bottom: -0.5em;
  padding: 0.5em;
  color: var(--orange);
  font-size: 120%;
  text-align: center;
  border: 2px solid var(--dark-blue);
  box-shadow: 0 0 10px 3px rgba(36, 36, 36, 0.05);
}

.weather-info__search-error {
  color: rgb(187, 48, 48);
  font-size: 13px;
  line-height: 2em;
}

.weather-info__search-view button {
  padding: 0.6em 6em;
  color: var(--dark-blue);
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  border: 2px solid currentColor;
  background: transparent;
}

.weather-info__search-view button:hover {
  background: var(--orange);
  border: 2px solid var(--dark-blue);
}

@media (min-width: 480px) {
  .weather-info {
    width: 350px;
    margin-top: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px rgba(36, 36, 36, 0.2);
  }
}

/*  Search result view */

.weather-info__forecast-view {
  display: none;
}

/* Main icon animation */

.weather-icon__container {
  width: 100%;
  max-height: 150px;
  animation: skyFloat 4s infinite alternate linear;
}

.weather-info__btn-return {
  width: 10%;
  cursor: pointer;
}

@keyframes skyFloat {
  from {
    margin-left: 0;
  }
  to {
    margin-left: 20px;
  }
}

.weather-info__city {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info__heading {
  margin: 20px 0;
  font-size: 3.5em;
}

.weather-info__parameters {
  display: flex;
  justify-content: space-between;
  width: 45%;
  margin-left: auto;
  margin-right: 0;
}

.weather-info__parameter {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.weather-info__parameters img {
  width: 1.2em;
  margin-right: 5px;
}

.weather-info__temperatures {
  padding-top: 1em;
}

/* Forecast for the next days */

.weather-info__temperatures > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 0.2em 0.5em;
  font-weight: 400;
  border-bottom: 3px solid var(--dark-blue);
}

.weatherForecastDay {
  width: 4em;
}

.weatherForecastTemp {
  width: 3em;
  text-align: right;
}

.weatherForecastIcon {
  max-width: 1.6em;
}

.weather-info__title {
  position: absolute;
  top: 7%;
  right: 0;
  font-size: 1.5em;
  writing-mode: tb-rl;
}

/* Footer */

.weather-info__attribution {
  padding-top: 2em;
  text-align: center;
  opacity: 0.7;
}

.weather-info__attribution img {
  width: 15px;
}

.weather-info__attribution,
.weather-info__attribution a {
  color: var(--orange);
  font-weight: 400;
  font-size: 14px;
}

.weather-info__attribution a:hover,
.weather-info__attribution a:visited,
.weather-info__attribution a:focus {
  color: #d7b1a6;
  text-decoration: none;
}

.weather-info__attribution a:active {
  color: var(--dark-blue);
  background-color: var(--orange);
}
